.start{
    animation: shake 1.82s infinite cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.end{

}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);

    }
  }