.input{
    height:50px;
    overflow: hidden;
}

.icon {
    font-size: 25px;
    position: absolute;
    top: 1.2rem;
    right: 2.3rem;
            cursor: pointer;
            &:hover{
                filter:invert(0.4);
            }
}
