.container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    z-index: 99999;
    gap:1rem;
    cursor: pointer;

}
.children{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &:hover{
        filter:invert(0.4);
    }
}
.container_flex {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 99999;
     cursor: pointer;
  
}

.itemsContainer{
    position: absolute;
    width: max-content;
    height: max-content;
    background-image: linear-gradient(90deg, rgb(240, 246, 246) 0%, rgb(234, 244, 235) 58%, rgb(249, 237, 238) 100%);
    border-radius: 5px;
     display: flex;
    flex-direction: column;
}
.noTitleItemsContainer{
    position: absolute;
    top: 0;
    width: max-content;
    height: max-content;
    background-image: linear-gradient(90deg, rgb(240, 246, 246) 0%, rgb(234, 244, 235) 58%, rgb(249, 237, 238) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.dropdown_item {
    transition:background-image 0.8s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 3px black;
    padding:0.5rem;
    background-image: linear-gradient(90deg, rgb(230, 226, 226) 0%, rgb(234, 234, 235) 58%, rgb(229, 237, 238) 100%);

    &:hover{
        background-image:linear-gradient(270deg, rgb(230, 226, 226) 0%, rgb(234, 234, 235) 58%, rgb(229, 237, 238) 100%)
    }
}

.arrow {
    position:absolute;
    bottom:-13px;
   right: 0;
    transition:transform 0.55s ease-out;
}
.title{
    width:max-content;
    position: absolute;
    top: 0;
    left: 0;
}